*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      color: #333;
      background-color: #333;
    }
  

    /* Conteúdo da página */
    .conteudo {
      position: relative;
      z-index: 3;
      color: rgb(207, 195, 195);
      text-align: center;
      padding-top: 0%;
      font-size: 1em;
      font-size:30px;
    }

    
    h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
      z-index: 2;
    }

    button{
      font-size: 40px;
      margin-bottom: 27px;
    }